@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am currently a Senior majoring in MIS and Business Analytics set to graduate in May 2020. I am from Columbus, OH and this summer I had the opportunity to intern as a Sales Analyst at Vertiv Co.</p>
