@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    70 S Court St<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    614.580.4996
</address>

<address>
    <strong>Personal:</strong>   <a href="mailto:rachelcaviolo6@gmail.com">rachelcaviolo6@gmail.com</a><br />
    <strong>School:</strong> <a href="mailto:rc019415@ohio.edu">rc019415@ohio.edu</a>
</address>