@{
    ViewBag.Title = "MIS 4200 Home Page";
}

<div class="jumbotron">
    <h1>Rachel Caviolo</h1>
    <p class="lead">This Homepage talks about a few of my favorite things. In the about page is a short description about me and then there is infomration to contact me on the last page.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coffee</h2>
        <p>
            One of my favorite drinks is coffee. I love trying new kinds of coffee and going to different coffee shops wherever I go. 
        </p>
        <p><a class="btn btn-default" href="https://www.starbucks.com/">Starbucks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shopping</h2>
        <p>In my free time I love to go shopping either online or in store. I have always loved buying new clothes and keeping up with fashion trend.</p>
        <p><a class="btn btn-default" href="https://eastontowncenter.com/">Easton &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chipotle</h2>
        <p>My favorite fast food place is Chipotle.</p>
        <p><a class="btn btn-default" href="https://www.chipotle.com/">Chipotle &raquo;</a></p>
    </div>
</div>